<link rel="stylesheet" href="/assets/css/user.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<!-- <script src="/assets/js/users.js" defer></script> -->

<main>
    <div id="main-header"> Topic Management</div>
    <h1 id="main-h1">Actions</h1>
    <section class="section">
        <ul class="section-ul"> 
            <div class="section-div">
<i class="fa-solid fa-hand-point-right"></i><a class="nav-link" href="#" data-target="main-topic">Main</a>
            </div>
            <div class="section-div">
              
<i class="fa-solid fa-hand-point-right"></i>  <a  class="nav-link"href="#" data-target="private-topic">Private Topic</a> 
            </div>

<div class="section-div">
    <i class="fa-solid fa-hand-point-right"></i>  <a  class="nav-link" href="#" data-target="message-sub">Subscriptions</a> 
</div>
<div class="section-div">
    <i class="fa-solid fa-hand-point-right"></i>  <a  class="nav-link"href="#" data-target="inbox">Inbox</a> 
</div>
<div class="section-div" id="logout-div">
    <i class="fa-solid fa-hand-point-right"></i>  <a class="nav-link" href="#" data-target="logout-section">Logout</a> 
</div>
<p id="my-name"></p>
        </ul>
        <ul class="welcome-ul">

            <p id="the-topics"><span id="name"></span>'S TOPICS</p>
        <article id="main-topic" class="content-section">  
            <ul class="article-ul">
                <li class="article-li">
                    <p>some topics paragraphs</p>
                    <div class="article-date">21/01/2024</div>
                </li>
            </ul>
         </article>
         <article id="private-topic" class="content-section"> 
            <ul class="article-ul">
                <li class="article-li">
                    <p>private topic</p>
                    <div class="article-date">21/01/2024</div>
                </li>
            </ul>
         </article>
         <article id="message-sub" class="content-section">
            <ul class="article-ul">
                <li class="article-li">
                    <p>subcriptions</p>
                    <div class="article-date">21/01/2024</div>
                </li>
            </ul>
         </article>
         <article id="inbox" class="content-section">
            <ul class="article-ul">
                <li class="article-li">
                    <p>inbox</p>
                    <div class="article-date">21/01/2024</div>
                </li>
            </ul>
         </article>
        </ul>
    </section>
 
</main>