<link rel="stylesheet" href="/assets/css/auth.css">
<div class="login-container">
    <h1>Sign up</h1>
    <form id="signInForm">
        <div class="input-group">
            <div class="label">
                <label for="email">Email:</label>
            </div>
            <input type="email" id="email" name="email" required placeholder="example@abc.com">
        </div>
        <div class="input-group">
            <div class="label">
               <label for="password">Password:</label>
            </div>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
        </div>
        <button type="submit">Sign In</button>
        <p>Already have an account? <a href="#" id="login">Login here</a></p>
    </form>
</div>
<p id="error-message" style="color:rgb(238, 94, 94)"></p>